<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="Microsoft.*" />
			<package pattern="System.*" />
			<package pattern="MahApps.Metro.IconPacks.Core" />
			<package pattern="MahApps.Metro.IconPacks.Material" />
			<package pattern="MahApps.Metro.IconPacks" />
			<package pattern="MahApps.Metro.IconPacks.BootstrapIcons" />
			<package pattern="MahApps.Metro.IconPacks.BoxIcons" />
			<package pattern="MahApps.Metro.IconPacks.CircumIcons" />
			<package pattern="MahApps.Metro.IconPacks.Codicons" />
			<package pattern="MahApps.Metro.IconPacks.Coolicons" />
			<package pattern="MahApps.Metro.IconPacks.Entypo" />
			<package pattern="MahApps.Metro.IconPacks.EvaIcons" />
			<package pattern="MahApps.Metro.IconPacks.FeatherIcons" />
			<package pattern="MahApps.Metro.IconPacks.FileIcons" />
			<package pattern="MahApps.Metro.IconPacks.Fontaudio" />
			<package pattern="MahApps.Metro.IconPacks.FontAwesome" />
			<package pattern="MahApps.Metro.IconPacks.Fontisto" />
			<package pattern="MahApps.Metro.IconPacks.ForkAwesome" />
			<package pattern="MahApps.Metro.IconPacks.GameIcons" />
			<package pattern="MahApps.Metro.IconPacks.Ionicons" />
			<package pattern="MahApps.Metro.IconPacks.JamIcons" />
			<package pattern="MahApps.Metro.IconPacks.Lucide" />
			<package pattern="MahApps.Metro.IconPacks.MaterialDesign" />
			<package pattern="MahApps.Metro.IconPacks.MaterialLight" />
			<package pattern="MahApps.Metro.IconPacks.MemoryIcons" />
			<package pattern="MahApps.Metro.IconPacks.Microns" />
			<package pattern="MahApps.Metro.IconPacks.Modern" />
			<package pattern="MahApps.Metro.IconPacks.Octicons" />
			<package pattern="MahApps.Metro.IconPacks.PhosphorIcons" />
			<package pattern="MahApps.Metro.IconPacks.PicolIcons" />
			<package pattern="MahApps.Metro.IconPacks.PixelartIcons" />
			<package pattern="MahApps.Metro.IconPacks.RadixIcons" />
			<package pattern="MahApps.Metro.IconPacks.RemixIcon" />
			<package pattern="MahApps.Metro.IconPacks.RPGAwesome" />
			<package pattern="MahApps.Metro.IconPacks.SimpleIcons" />
			<package pattern="MahApps.Metro.IconPacks.Typicons" />
			<package pattern="MahApps.Metro.IconPacks.Unicons" />
			<package pattern="MahApps.Metro.IconPacks.VaadinIcons" />
			<package pattern="MahApps.Metro.IconPacks.WeatherIcons" />
			<package pattern="MahApps.Metro.IconPacks.Zondicons" />
			<package pattern="PDFsharp" />
			<package pattern="MaterialDesignColors" />
			<package pattern="MaterialDesignThemes" />
		</packageSource>
	</packageSourceMapping>
</configuration>